<div class="header section">
  <div class="header-inner section-inner">
    <a href="{% if site.author.url %}{{ site.author.url }}{% else %}{{ base_url_absolute }}{% endif %}" title="{{ site.title }}" rel="home" class="logo">
      <img src="/user/themes/disrootblog/images/disroot_logo.png"/>
    </a>

    {% if site.title  %}
    <h1 class="blog-title">
      <a href='{{ base_url_absolute }}'>Disroot Blog</a>
    </h1>
    {% endif %}

    <div class="clear"></div>
  </div>

</div>
